body{
    margin:0;
    padding:0;
    border:0;
    font-size: 16px;
    background-color: #D8DBE2;
    width:100;
}

*{
    font-family: 'Source Sans Pro', sans-serif;
}

.main-doc {
    width:100%;
    margin: 0 auto;
    text-align:center;
}

.sections{
    list-style-type: none;
    overflow: hidden;
    background-color: #080404;
    text-align: center;
    padding:0.940rem 0;
    margin:0 0 1.875rem 0;
}

.sections__section{
    display: inline-block;  
}

.sections__link{
    font-size: 1.625rem;
    color:#26a0f7;
    padding:1.625rem 1.125rem;
}

.sections__link:hover{
    background-color: #b46946;
    color:#FBFBFD;
}

.header-me__img {
    width:300px;
    height:300px;
    border-radius: 500px;
    border:#080404 ridge;
}

h1 {
    margin:0;
    padding:0;
    border:0;
    font-size:3rem;
    color:#080404;
}

.about-me__p-container{
    padding-left: 5rem;
    padding-right: 5rem;
    margin:0;
}

.about-me__p{
    font-size:1.450rem;
    margin:0;
    text-align: justify;
    color:#1B1B1E;
}

.about-me__social-medias{
    padding-top:4.375rem;
    padding-bottom:4.375rem;
    margin: 0 auto;
}

.about-me__social-media-h2{
    font-size: 3rem;
    padding:0;
    margin:0;
}

.about-me__social-media-p-cont{
    padding-left: 5rem;
    padding-right: 5rem;
    margin:0;
    margin-bottom: 2rem;
}

.about-me__social-media-p{
    font-size:1.450rem;
    margin:0;
    text-align: justify;
    color:#1B1B1E;
}

.about-me__social-medias-ul{
    list-style-type: none;
    margin:0 auto;
    border:0;
    padding:0;
}

.about-me__social-media-ul-li{
    display:inline-block;
}

.about-me__social-media-ico{
    padding:0 1.25rem;
    width: 5.375rem;
    height: 5.375rem;
}

.about-me__social-media-link{
    text-decoration: none;
    color:#1B1B1E;
}

.about-me__social-media-link:hover{
    text-decoration: underline;
}

.about-me__social-media-span{
    font-size: 1.45rem;
}

.skills__h2{
    font-size: 3rem;
    padding:0;
    margin:0;
}

.skills__ico{
    padding:0 1.25rem;
    width: 5.375rem;
    height: 5.375rem;
}

.skills__ico-container{
    margin-bottom: 4.375rem;
}


.skills__link{
    padding:0;
    margin:0;
    border:0;
    display:inline-block;
    text-decoration: none;
    color:#1B1B1E;
    
}

.skills__link:hover{
    text-decoration: underline;
}

.skills__span{
    font-size: 1.45rem;
}

.skills__p-cont{
    padding-left: 5rem;
    padding-right: 5rem;
    margin:0;
    margin-bottom: 2rem;
}

.skills__p{
    font-size:1.450rem;
    margin:0;
    text-align: justify;
    color:#1B1B1E;
}

.projects__h2{
    font-size: 3rem;
    padding:0;
    margin:0;
}

.contact-me{
    width:100%;
    box-sizing: border-box;
    height:100%;
}

.contact-me__h2{
    margin:0;
    font-size:3rem;
    box-sizing: border-box;
}

.contact-me__form{
    display:grid;
    grid-template-columns: 27rem 27rem;
    justify-content: center;
}

.contact-me__input{
    width:100%;
    height: 3rem;
    border:0;
    padding:0;
    margin: 0 auto;
    font-size: 2rem;
}

.contact-me__input::placeholder{
    font-size: 2rem;
}

.contact-me__label{
    display: block;
    text-align: left;
    font-size: 2rem;
}

.contact-me__p-message{
    grid-column: 1/3;
    height:100%;
}

.contact-me__input-message{
    height:100%;
    resize:none;
}

.contact-me__p-affair{
    grid-column:1/3;
    text-align: left;
}

.contact-me__input-affair{
    width:50%;
}

.contact-me__p-mail{
    grid-column: 1;
    grid-row: 2;
}

.contact-me__p-tel{
    grid-column: 2;
    grid-row: 2;
    margin:1rem 0 1rem 1rem;
}

.contact-me__div-name{
    grid-column: 1;
    grid-row: 1;
}

.contact-me__div-lastname{
    grid-column: 2;
    grid-row: 1;
    margin: 2.5rem 0 0 1rem;
}

.contact-me__input-lastname{
    margin:0 auto;
    height:3rem;
}

.contact-me__p-button{
    grid-column: 1/3;
}

.contact-me__button{
    width:100%;
    margin: 4rem 0 0 0;
    font-size: 2rem;
}


@media (max-width: 1030px){
    
    .about-me__social-medias-ul{
        list-style-type: none;
        display:grid;
        grid-template-columns: 15rem 15rem;
        justify-content: center;
    }
    
    .about-me__social-media-ul-li{
        margin:0 auto;
    }

    .about-me__social-media-ul-li-twitt{
        margin:0;
    }

    
    .skills__ico-container{
        margin-bottom: 4.375rem;
        display:grid;
        grid-template-columns: 20rem 20rem;
        justify-content: center;
    }
    
    .skills__link{
        padding:0;
        margin:0 auto 2em auto;
        border:0;
        text-decoration: none;
        color:#1B1B1E;
    }

    .skills__link-git , .skills__link-github{
        margin-bottom: 0;
    }
    
    .skills__ico-container{
        grid-template-columns: 15rem 15rem;

    }
    
    .about-me__p-container{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .about-me__social-media-p-cont{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .skills__p-cont{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width: 900px){
    .contact-me{
        width:100%;
        height:100%;
    }
    
    .contact-me__form{
        display:grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
    .contact-me__input{
        width:100%;
        height: 100%;
        border:0;
        padding:0;
        font-size: 2rem;
    }
    
    .contact-me__p-message{
        grid-column: 1;
        grid-row: 6;
        height:100%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }
    .contact-me__p-affair{
        grid-column:1;
        grid-row: 5;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
        height:3rem;
    }
    .contact-me__p-mail{
        grid-column: 1;
        grid-row: 3;
        margin-left: 1rem;
        margin-right: 1rem;
        height:3rem;
    }
    .contact-me__p-tel{
        grid-column: 1;
        grid-row: 4;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
        height:3rem;
    }
    
    .contact-me__div-name{
        grid-column:1;
        grid-row: 1;
        margin-left: 1rem;
        margin-right: 1rem;
        height:3rem;
    }
    
    .contact-me__div-lastname{
        grid-column: 1;
        grid-row: 2;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3.5rem;
        height:3rem;
    }
    .contact-me__p-button{
        grid-column: 1/2;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
        height:3rem;
    }

    .contact-me__button{
        margin-bottom: 1rem;
    }

    .about-me__social-medias-ul{
        grid-template-columns: 15rem 15rem;
    }

    .about-me__social-media-ul-li{
        margin:0 auto 2em auto;
    }
    
    .skills__ico-container{
        grid-template-columns: 15rem 15rem;

    }
    
    .about-me__p-container{
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .about-me__social-media-p-cont{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .skills__p-cont{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (max-width:528px){

    .about-me__p-container{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .about-me__social-media-p-cont{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .skills__p-cont{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .sections{
        list-style-type: none;
        overflow: hidden;
        background-color: #080404;
        text-align: center;
        padding:0;
        margin-bottom:2rem;
    }

    .sections__section{
        margin: 0;
        width:100%;
    }

    .sections__link{
        font-size: 1.625rem;
        color:#26a0f7;
        width:100%;
        display: block;
        padding: 1rem 0 1rem 0;
    }

    .sections__link:hover{
        background-color: #b46946;
        color:#FBFBFD;
    }
}
